doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Reporte de Observaciones Médicas
    body
        table(style='width:100%', border='1')
            tr
                th Hospital
                th Medico
                th Especialidad
                th Estado de Salud
                th Anotaciones
            each observation in observations
                tr
                    td #{observation.hospital._id.nombre}
                    td #{observation.medico._id.nombre}
                    td #{observation.speciality}
                    td #{observation.healthStatus}
                    td
                        ul
                            each annotation in observation.annotations
                                li #{annotation}
